<div class="container"><%= form_for(@grade, url: essay_grades_path) do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
        <% @grade.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </div>

  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>
  <div class="field">
    <%= f.label :grader %><br>
    <%= f.text_field :grader %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Grade", class:"btn" %>
  </div>
<% end %></div>
