<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @grade.grade %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @grade.comments %>
</p>

<p>
  <strong>Grader:</strong>
  <%= @grade.grader %>
</p>

<%= link_to "Edit", edit_essay_grade_path(@essay, @grade)  %>
<%= link_to 'Back', essays_path if current_user.admin %>
