<p id="notice"><%= notice %></p>

<h1>Listing Essays</h1>

<table>
  <tbody>
    <% @essays.each do |essay| %>
      <tr>
        <td><%= "#{ essay.body[0...40] }..." %></td>
        <td><%= link_to 'Show', essay %></td>
        <% if essay.gradded %>
          <td><%= link_to "Show Grade", essay_grade_path(essay.id, essay.grade.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Submit An Essay', new_essay_path %>
